@{
    ViewData["Title"] = "Home Page";
}

<link href='~/fullcalendar/core/main.css' rel='stylesheet' />
<link href='~/fullcalendar/daygrid/main.css' rel='stylesheet' />

<script src='~/fullcalendar/core/main.js'></script>
<script src='~/fullcalendar/daygrid/main.js'></script>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['dayGrid']
        });


        calendar.render();
    });

    //$('#calendar').fullCalendar({
    //    plugins: ['dayGrid'],
    //    events: [
    //        {
    //            title: 'Event Title1',
    //            start: '2020-03-17T13:13:55.008',
    //            end: '2020-03-19T13:13:55.008'
    //        },
    //        {
    //            title: 'Event Title2',
    //            start: '2020-03-17T13:13:55-0400',
    //            end: '2020-03-19T13:13:55-0400'
    //        }
    //    ]
    //});

</script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div id='calendar'></div>
</div>
